<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
</head>
<body>
<div ng-controller="myController as myCtrl">
    <h3>{{myCtrl.message}}</h3>
    <p>{{myCtrl.text}}</p>
</div>
<script src="js/lib/angular.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', []);
    myApp.controller('myController', function() {
        this.message="myController";
        this.text="Контроллер без $scope";
    });
</script>
</body>
</html>