<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/mystyles.css" />
</head>
<body>

<div ng-controller="phoneController">
    <ul>
        <li ng-repeat="company in phones">
            <p>{{company.name}}</p>
            <ul ng-repeat="model in company.models">
                <b>{{model.name}}</b>
                <p>Цена: {{model.price}} $</p>
            </ul>
        </li>
    </ul>
</div>

<script src="js/lib/angular.min.js"></script>
<script type="text/javascript">
    angular.module('myApp', []);
</script>
<script src="js/controllers/phonesController.js"></script>
</body>
</html>