<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/mystyles.css" />
</head>

<body>
<div ng-controller="QuestionController" >
    <select ng-model="answer.author">
        <option ng-repeat="answer in question.answers">{{answer.author}}</option>
    </select>
    <select>
        <option ng-repeat="selected_answer in question.answers | filter:answer">{{selected_answer.date}}</option>
    </select>
</div>

<script src="js/lib/angular.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp',[]);
    </script>
<script src="js/controllers/QuestionController.js"></script>
</body>
</html>