<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
</head>
<body>
<div ng-controller="helloController">
    <p><textarea ng-model="htmlcode"></textarea></p>
    <p ng-bind-html="htmlcode"></p>
</div>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-sanitize.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', ["ngSanitize"]);
    myApp.controller('helloController', function($scope) {

        $scope.htmlcode="Директива <b>ng-bind-html</b>";
    });
</script>
</body>
</html>