<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div ng-controller="phoneController">
    <p>Количество элементов: <span ng-bind="phones.length"></span></p>
    <p>Первый элемент: <span ng-bind="phones[0].name"></span></p>

</div>
<!--  ng-bind  -->
<div ng-controller="phoneController">
    <input type="text" ng-model="phones[0].name" / >
    <p ng-bind="phones[0].name"></p>
</div>

<!--  ng-model  -->

<div ng-controller="phoneController">
    <p ng-bind-template="{{phones[0].name}}: {{phones[0].price}} $"></p>
</div>
<!--  ng-template  -->

<p>{{1 + 2}}</p>
<p ng-non-bindable>{{1 + 2}}</p>
<!--  ng-non_bindable  -->

<script src="js/lib/angular.min.js"></script>
</body>

<script src="js/controllers/phonesController.js"></script>
</html>