<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/mystyles.css" />
</head>
<body>
<div ng-controller="phoneController">
    <div ng-style="somestyle">Директива ng-style</div>
    <div ng-class="someclass">Директива ng-class</div>

    <p ng-show="data.visible">Первый блок</p>
    <p ng-hide="data.visible">Второй блок</p>
    <input type="checkbox" ng-model="data.visible">Открыть/скрыть


    <p>------------------- ng-if ----------</p>
    <input type="checkbox" ng-model="data.visible">Открыть/скрыть
    <p ng-if="data.visible">Первый блок</p>
    <p ng-if="!data.visible"></p>
</div>
<script src="js/lib/angular.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', []);
</script>
<script src="js/controllers/phonesController.js"></script>
</body>
</html>
