<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
</head>
<body>
<h2>{{ message }}</h2>
<div ng-controller="myController">
    <h3>{{ message }}</h3>
</div>
<h4>{{ message }}</h4>
<script src="js/lib/angular.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', [])
            .run(function($rootScope) {

                $rootScope.message = "Модуль myApp";
            });
    myApp.controller('myController', function($scope) {
        $scope.message = "My controller";
    });
</script>
</body>
</html>